/*
  Незначительно отошел от изначальных размеров карточек
  для лучшего лэйаута на промежуточных разрещениях

  "Лайоут в браузере должен выглядеть аккуратно,
  на всех промежуточный разрешениях, все отступы симметричны,
  допускается отхождение от размеров и цветов прототипа,
  но только если это обоснованно"
*/

.cards {
  display: grid;
  grid-auto-rows: 115px;
  grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
  gap: 20px;
  justify-content: center;
  height: 100%;

  padding: 37px 16px;

  background-color: $bg-mobile-color-light;
}

@include media('>=tablet') {
  .cards {
    grid-auto-rows: 128px;
    grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));

    background-color: $bg-tablet-color-light;
  }
}

@include media('>=desktop') {
  .cards {
    padding-right: 60px;
    padding-left: 60px;

    background-color: $bg-desktop-color-light;
  }
}

@include media('>=large-desktop') {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    padding-right: 29px;
    padding-left: 29px;
  }
}
