.card {
  padding: 10px;
  overflow: hidden;

  background-color: $page-skeleton-color;
  border-radius: 10px;

  &__inner {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    overflow: hidden;

    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
}

@include media('>=tablet') {
  .card__inner {
    -webkit-line-clamp: 6;
  }
}
