.cards {
  display: grid;
  grid-auto-rows: 115px;
  grid-template-columns: repeat(2, minmax(115px, 150px));
  gap: 20px;
  justify-content: center;

  padding: 37px 16px;

  background-color: $bg-mobile-color-light;
}

@include media('>=large-mobile') {
  .cards {
    grid-template-columns: repeat(3, minmax(115px, 150px));
  }
}

@include media('>=tablet') {
  .cards {
    grid-auto-rows: 128px;
    grid-template-columns: repeat(4, minmax(128px, 160px));

    background-color: $bg-tablet-color-light;
  }
}

@include media('>=desktop') {
  .cards {
    grid-template-columns: repeat(4, minmax(128px, 160px));
    padding-right: 60px;
    padding-left: 60px;

    background-color: $bg-desktop-color-light;
  }
}

@include media('>=large-desktop') {
  .cards {
    grid-template-columns: repeat(5, minmax(160px, 200px));
    padding-right: 29px;
    padding-left: 29px;
  }
}
