.footer {
  padding: 15px;

  background-color: $bg-mobile-color-dark;

  &__title {
    margin: 0;

    font-weight: 700;
    font-size: 14px;
  }

  &__text {
    max-width: 960px;
    margin: 0;
  }
}

@include media('>=tablet') {
  .footer {
    background-color: $bg-tablet-color-dark;
  }
}

@include media('>=desktop') {
  .footer {
    background-color: $bg-desktop-color-light;
    border-top: 2px solid $menu-skeleton-color;
  }
}
