.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: z-indexes('header');

  padding-top: 15px;

  background-color: $bg-color;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    background-color: $bg-mobile-color-dark;
  }
}

@include media('>=tablet') {
  .header__inner {
    background-color: $bg-tablet-color-dark;
  }
}

@include media('>=desktop') {
  .header {
    position: relative;

    padding-top: 0;

    &__inner {
      justify-content: end;

      background-color: $bg-desktop-color-light;
    }

    &__menu-open {
      display: none;
    }
  }
}
