.icon {
  width: 20px;
  height: 20px;

  cursor: pointer;
  opacity: 0.15;

  fill: $icon-color;

  &:hover {
    opacity: 0.25;
  }

  &:active {
    opacity: 0.5;
  }

  &--burger {
    width: 24px;
    height: 21px;
  }

  &--triangle {
    width: 20px;
    height: 25px;
  }

  &--circle {
    width: 23px;
    height: 23px;
  }

  &--square {
    width: 21px;
    height: 21px;
  }
}
