.layout {
  display: grid;
  grid-template-areas:
    'header header'
    'cards cards'
    'footer footer'
    'menu menu';
  grid-template-rows: minmax(60px, auto) 1fr auto auto;
  min-height: 100vh;

  &__header {
    grid-area: header;
  }

  &__cards {
    grid-area: cards;
  }

  &__footer {
    grid-area: footer;
  }

  &__menu {
    grid-area: menu;
  }
}

@include media('>=desktop') {
  .layout {
    grid-template-areas:
      'menu header'
      'menu cards'
      'footer footer';
    grid-template-rows: minmax(60px, auto) 1fr auto;
    grid-template-columns: 310px 1fr;
  }
}
