{
  "bracketSpacing": false,
  "bracketSameLine": false,
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",

  "embeddedLanguageFormatting": "auto",
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "singleAttributePerLine": false,

  "xmlWhitespaceSensitivity": "ignore",
  "xmlSelfClosingSpace": true,

  "pugBracketSpacing": false,
  "pugBracketSameLine": false,
  "pugPrintWidth": 80,
  "pugSemi": false,
  "pugSingleQuote": null,
  "pugTabWidth": 2,
  "pugUseTabs": false,
  "pugArrowParens": "always",

  "pugWrapAttributesThreshold": -1,
  "pugEmptyAttributes": "as-is",
  "pugAttributeSeparator": "none",
  "pugCommentPreserveSpaces": "trim-all",
  "pugClassNotation": "literal",
  "pugIdNotation": "literal",
  "pugClassLocation": "before-attributes",
  "pugExplicitDiv": false,
  "pugSortAttributesBeginning": [
    "^cols$",
    "^v-else$",
    "^v-for$",
    "^:key$",
    "^v-if$",
    "^v-else-if$",
    "^v-on$",
    "^v-bind$",
    "^ref$",
    "^v-model",
    "^name$",
    "^:?type$",
    "^:value$",
    "^v-text$",
    "^:?label$",
    "^:headers$",
    "^:items$",
    "^:?item-text$",
    "^:?item-value$",
    "^:?item-disabled$",
    "^:?placeholder$",
    "^:?src$",
    "^:?color$",
    "^:?text-color$",
    "^:?icon$",
    "^:?small$"
  ],
  "pugSortAttributesEnd": [
    "^:?hint$",
    "^:?persistent-hint$",
    "^prepend-",
    "^@click:prepend",
    "^append-",
    "^@click:append",
    "^:to$",
    "^exact$",
    "^:(?!(width|height|loading|disabled|data-))",
    "^target$",
    "^:?width$",
    "^:?height$",
    "^@click",
    "^@",
    "^:loading$",
    "^:disabled$",
    "^:?data-"
  ]
}
