.block {
  display: flex;
  width: 100%;
  min-width: 320px;
  height: 32px;

  color: $font-color;
  font-weight: 400;
  font-size: 14px;
  font-family: $base-font-family;
  font-style: normal;
  line-height: 20px;
}

@include media('>=tablet') {
  .block {
    height: 40px;
  }
}

@include media('>=desktop') {
  .block {
    height: 48px;
  }
}
