extends ../base

block varaiables
  - const lang = 'ru'
  - const meta = pages.task1.meta
  - const {page} = pages.task1

block styles
  link(href='css/task1-styles.css' rel='stylesheet')

block main
  #task1.container
    h1 Задание №1
    h3 Необходимо сверстать адаптивный список содержимого.
    ol
      li Минимальная ширина - 320px, Максимальная - 480px;
      li Если пункт не вмещается в одну строку, то он должен не обрезаться, а переноситься на следующую строку (смотрите пункт 4);
      li Для отточия необходимо использовать именно пунктирную линию, а не точки;
      li Предусмотрите, чтобы верстка не ломалась при переполнении контентом. Длина пункта от 1 до 400 символов, максимальное количество разрядов в стоимости пункта - 5.

    -
      const data = [
        {
          song: 'The Weekend',
          price: 20
        },
        {
          song: 'Bruno Mars',
          price: 40
        },
        {
          song: 'Moby',
          price: 100
        },
        {
          song: 'Sea of Love - 1959, (John Phillip Baptiste (aka Phil Phillips) and George Khoury)',
          price: 150
        },
        {
          song: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla faci',
          price: 15000
        }
      ]

    .dot-leaders
      ul.dot-leaders__list
        each item in data
          li.dot-leaders__item
            span.dot-leaders__song= item.song
            span.dot-leaders__price= item.price
              span.dot-leaders__currency= ' рублей'
