extends ../base

block varaiables
  - const lang = 'en'
  - const meta = pages.task3.meta
  - const {page} = pages.task3

block styles
  link(href='css/task3-styles.css' rel='stylesheet')

block main
  include ../svg-sprite

  #task3.task3-container.layout
    header.header.layout__header
      .header__inner
        button.button.header__menu-open(type='button' data-menu='open')
          svg.icon.icon--burger
            use(xlink:href='#burger')
        ul.list.icon-list
          li.icon-list__item
            button.button(type='button')
              svg.icon.icon--triangle
                use(xlink:href='#triangle')
          li.icon-list__item
            button.button(type='button')
              svg.icon.icon--circle
                use(xlink:href='#circle')
          li.icon-list__item
            button.button(type='button')
              svg.icon.icon--square
                use(xlink:href='#square')

    main.layout__cards
      ul.cards.list
        - const cardContents = new Array(25).fill('Lorem Ipsum is simply dummy text of the printing and typesetting industry.')
        each cardContent in cardContents
          li.card(data-card)= cardContent

    footer.footer.layout__footer
      h2.footer__title What is Lorem Ipsum?
      p.footer__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
        | has been the industry's standard dummy text ever since the 1500s, when an unknown
        | printer took a galley of type and scrambled it to make a type specimen book.
        | It has survived not only five centuries, but also the leap into electronic typesetting,
        | remaining essentially unchanged. It was popularised in the 1960s with the release of
        | Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
        | publishing software like Aldus PageMaker including versions of Lorem Ipsum.

    .menu.layout__menu(data-menu='menu')
      .menu__inner
        button.button.menu__close(type='button' data-menu='close')
          svg.icon.icon--cross
            use(xlink:href='#cross')
        ul.list.menu__list
          li.menu__item.menu__item--active(data-menu='item')
            .menu__cicle
            .menu__line.menu__line--mini
          li.menu__item(data-menu='item')
            .menu__cicle
            .menu__line.menu__line--big
          li.menu__item(data-menu='item')
            .menu__cicle
            .menu__line.menu__line--medium
          - const menuItems = new Array(4)
            each menuItem in menuItems
              li.menu__item(data-menu='item')
                .menu__cicle
                .menu__line.menu__line--mini
