extends ../base

block varaiables
  - const lang = 'ru'
  - const meta = pages.task2.meta
  - const {page} = pages.task2

block styles
  link(href='css/task2-styles.css' rel='stylesheet')

block main
  #task2.container
    h1 Задание №2
    h2 Сверстать круговой прогресс-бар (с анимацией заполнения и смены процентов)
    ol
      li Стоит добавить кнопку перезапуска анимации (на время анимации кнопка не доступна);
      li Добавить инпут для ввода процента, до которого должен работать прогрессбар.

    .progress-bar
      .progress-bar__inner
        span.progress-bar__counter 0
        span.progress-bar__percentage %

    .control
      button.control__reset(type='button') Перезапустить
      input.control__input(type='number' min='0' max='100' step='1')
