$text-color: rgba(255, 255, 255, 0.72);
$bg-color: linear-gradient(146.04deg, #800b3f 40.24%, #000000 100.75%);
$line-bg-color: linear-gradient(90deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0) 100%);
$dashed-color: #606771;

$base-font-family: 'Nunito', sans-serif;
