html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-weight: 400;
  font-size: 14px;
  font-family: $font-base;
  line-height: 18px;

  background-color: $basic_white;
}
