$basic_white: #ffffff;
$basic_black: #000000;

$font-base: 'Nunito', sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$mobile-paddings: 20px;
$tablet-paddings: 30px;
$desktop-paddings: 110px;

$content-width-mobile: $mobile-width - $mobile-paddings * 2;
$content-width-tablet: $tablet-width - $tablet-paddings * 2;
$content-width-desktop: $desktop-width - $desktop-paddings * 2;

$breakpoints: (
  'mobile': $mobile-width,
  'tablet': $tablet-width,
  'desktop': $desktop-width
) !default;

