/*
 Использовал реализацию из этого примера.
 Не получилось допиться 100% схожести
 (левый текст не заходит на территорию правого)
*/

.dot-leaders {
  min-width: 320px;
  max-width: 480px;
  padding: 20px 0;

  color: $text-color;
  font-weight: 400;
  font-size: 14px;
  font-family: $base-font-family;
  line-height: 120%;

  background: $bg-color;

  &__list {
    position: relative;

    margin: 0;
    padding: 16px;

    list-style: none;

    &::before,
    &::after {
      position: absolute;
      left: 0;

      width: 100%;
      height: 1px;

      background: $line-bg-color;

      content: '';
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &__item {
    display: table;
    width: 100%;
    margin-bottom: 8px;

    border-collapse: collapse;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__song {
    position: relative;

    display: table-cell;
    width: 100%;
    overflow: hidden;

    &::after {
      position: absolute;
      bottom: 8px;

      width: 100%;
      height: 0;
      margin-left: 4px;

      border-bottom: 1.5px dashed $dashed-color;

      content: '';
    }
  }


  &__price {
    display: table-cell;
    padding-left: 4px;

    white-space: nowrap;
    vertical-align: bottom;
  }
}

/*
 В этом примере получилось добиться точности с текстом,
 но из-за градиента на общем фоне не получилось добиться 100% точности,
 так как для элементов с текстом приходиться задавать background
 для скрытия пунктирной линии, но с монотонным фоном проблем нет.
*/

/*
.dot-leaders {
  min-width: 320px;
  max-width: 480px;
  padding: 20px 0;

  color: $text-color;
  font-weight: 400;
  font-size: 14px;
  font-family: $base-font-family;
  line-height: 120%;

  background: #800b3f;

  &__list {
    position: relative;

    margin: 0;
    padding: 16px;

    list-style: none;

    &::before,
    &::after {
      position: absolute;
      left: 0;

      width: 100%;
      height: 1px;

      background: $line-bg-color;

      content: '';
    }

    &::before {
      top: 0;

      box-shadow: $line-box-shadow;
    }

    &::after {
      bottom: 0;

      box-shadow: $line-box-shadow;
    }
  }

  &__item {
    &::after {
      position: relative;
      top: -9px;
      z-index: 0;

      display: block;
      clear: both;

      border-bottom: 1.5px dashed $dashed-color;

      content: '';
    }

    margin-bottom: 8px;


    &:last-child {
      margin-bottom: 0;
    }
  }

  &__song {
    position: relative;
    z-index: 1;

    padding-right: 4px;

    background: #800b3f;
  }


  &__price {
    position: relative;
    z-index: 1;

    float: right;
    padding-left: 4px;

    background: #800b3f;
  }
}
*/
